@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
      font-family: "Google Sans", sans-serif;
}

body{
    background-color: black;
    color: white;
    background-image:url(image/miyamoto-musashi-3840x2160-15204.jpg);
    background-size: cover;
    background-position: center;
}

header{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
header ul li{
    list-style: none;
}
header ul li a{
    color: white;
    text-decoration: none;
}
header h1{
    font-size: clamp(0.5rem, 5vw,3rem);
}
.hero .title{
    padding: 2%;
    margin-bottom: 20px;
    margin-left: 5.0vw;
    width: 60%;
    max-width:400px;
    border: 2px solid white;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.647);
}
.title h1{
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 700;
}
.title p{
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}
.hero .buttons{
    display: flex;
    justify-content: center;
    gap: 10;
    transform: translate(40px);
}
.hero button{
    font-size: 24px;
    font-weight: 400;
    padding: 10px 20px;
    border: none ;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.647);
}
button a{
    text-decoration: none;
    color: white;
}